upstream sync_gateway {
    server 127.0.0.1:{{ couchbase_sync_gateway_port }};
}

# HTTP server
server {
    listen {{ couchbase_sync_gateway_nginx_port }};
    server_name {{ couchbase_sync_gateway_nginx_server }};
    client_max_body_size 21m;

# Uncomment the below Code to Enable certs and provide valid certification path
#    ssl on;
#    ssl_certificate <path of pem file>;
#    ssl_certificate_key <path for certificate key>;

    ssl_session_cache   shared:SSL:10m;
    ssl_session_timeout 10m;
    ssl_protocols TLSv1.2;

    location / {
        proxy_pass              http://sync_gateway;
        proxy_pass_header       Accept;
        proxy_pass_header       Server;
        proxy_http_version      1.1;
        proxy_set_header        Upgrade $http_upgrade;
        proxy_set_header        Connection "upgrade";
        keepalive_requests      1000;
        keepalive_timeout       360s;
        proxy_read_timeout      360s;
    }
}